{% load static %}

<html lang="ko">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div class="title">
            <h1>과학퀴즈</h1>
            <h2>사이버이공계학생교류전</h2>
        </div>

        <div id="deckHolder">

        </div>

        <div id="teamsHolder" class="teamList">

        </div>

        <div class="footer">Github @betarixm</div>
    </div>

    <script src="{% static 'board/main.js' %}"></script>
</body>

</html>