{% load static %}

<html lang="ko">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script"
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>

</head>

<body>
    <div>
        <h1>Deck</h1>
        <div id="deck"></div>
    </div>

    <div id="team">

    </div>

    <script src="{% static 'board/main.js' %}"></script>
</body>

</html>